
<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <div class ="container">
    <div class ="carou-h2">
      <h2>Ils nous ont fait confiance !</h2>
    </div>
    <div class = "background-carou">
<<<<<<< HEAD

  <!--Controls-->
  
=======
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    
    <!--Slides-->
    <!--First slide-->
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <div class ="carou">
            <div class="d-flex flex-row">
              <div class="p-2">
                <div class="col-md-4">
                  <div class = "amazon">      
                    <%= image_tag "amazon.svg"%>
                  </div>
                </div>
              </div>
            <div class="p-2">
              <div class="col-md-4">
                <div class = "boulanger"> 
                  <%= image_tag "boulanger.svg"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<<<<<<< HEAD
    </div>
   
=======
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
    <!--/.First slide-->

    <!--Second slide-->
    <div class="carousel-item">
      <div class ="carou">
<<<<<<< HEAD
        <div class="d-flex flex-row">
            <div class="p-2">
=======
          <div class="d-flex flex-row">
              <div class="p-2">
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
                <div class="col-md-4">
                  <div class = "boulanger"> 
                    <%= image_tag "Darty.png"%>
                  </div>
                </div>
              </div>
            <div class="p-2">
              <div class="col-md-4">
                <div class = "amazon">      
                  <%= image_tag "rakuten.svg"%>
                </div>
<<<<<<< HEAD
             </div>
        </div>
      </div>
    </div>
=======
              </div>
            </div>
          </div>
        </div>
      </div>
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be
    <!--/.Second slide-->

    <!--/third slide-->
    <div class="carousel-item">
        <div class ="carou">
          <div class="d-flex flex-row">
              <div class="p-2">
                  <div class="col-md-4">
                    <div class = "boulanger"> 
                        <%= image_tag "ali.png"%>
                      </div>
                  </div>
                </div>
                <div class="p-2">
                  <div class="col-md-4">
                    <div class = "boulanger">      
                      <%= image_tag "fnac.png"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<<<<<<< HEAD
      </div>
     </div>
    </div>
  </div>
    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
</div>
=======
      <!--/.third slide-->
>>>>>>> 674b6e4320efaa7c0e4e7b89ca8427e1241895be

      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
  </div>  
</div>