<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  <div class ="container">
    <div class ="carous-h3">
      <h3>Categories</h3>
    </div>
    <div class = "background-carou-search">
    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
    <!--Slides-->
    <!--First slide-->
      <div class="carousel-inner" role="">
        <div class="carousel-item active">
          <div class ="carou">
            <div class="d-flex flex-row">
              <div class="p-2">
                <div class="col-md-4">
                  <div class = "amazon">      
                    <%= image_tag "amazon.svg"%>
                  </div>
                </div>
              </div>
            <div class="p-2">
              <div class="col-md-4">
                <div class = "boulanger"> 
                  <%= image_tag "boulanger.svg"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--/.First slide-->
    <!--Second slide-->
    <div class="carousel-item">
      <div class ="carou">
          <div class="d-flex flex-row">
              <div class="p-2">
                <div class="col-md-4">
                  <div class = "boulanger"> 
                    <%= image_tag "Darty.png"%>
                  </div>
                </div>
              </div>
            <div class="p-2">
              <div class="col-md-4">
                <div class = "amazon">      
                  <%= image_tag "rakuten.svg"%>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <!--/.Second slide-->
    <!--/third slide-->
    <div class="carousel-item">
        <div class ="carou">
          <div class="d-flex flex-row">
              <div class="p-2">
                  <div class="col-md-4">
                    <div class = "boulanger"> 
                        <%= image_tag "ali.png"%>
                      </div>
                  </div>
                </div>
                <div class="p-2">
                  <div class="col-md-4">
                    <div class = "boulanger">      
                      <%= image_tag "fnac.png"%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <!--/.third slide-->
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fas fa-chevron-right"></i></a>
    </div>
  </div>  
</div><div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
  