<div class="main_container2">
    <div class="current_payalert2">
        <div class="imgproduct2">
            <%# <%= image_tag product.photo %> 
        </div>
        <div class="products_details">
            <% @paylerts.each do |paylert| %>
                Payalert du client N° <%= paylert.user_id %>
                <br>
                Produit N° <%= paylert.product_id %>
                <br>
                Prix proposé <%= paylert.bidding_price %>
                <br>
                Status <%= paylert.status %>
                 <%# <%= image_tag product.photo %>
                <% end %>
        </div>
    </div>
</div>
