<div class="main_container2">
    <div class="current_payalert2">
        <div class="imgproduct2">
            <%# <%= image_tag product.photo %> 
        </div>
        <div class="products_details">
            <% @paylerts.each do |paylert| %>
                <% if paylert == @paylerts.last%>
                    Payalert du client N° <%= paylert.user_id %>
                    Produit N° <%= paylert.product_id %>
                    Prix proposé <%= paylert.bidding_price %>
                    Status <%= paylert.status %>
                <% end %>
            <% end %>
        </div>
    </div>
</div>
