<div class ="container">
    <div class ="bellformalert">
        <div class="d-flex bd-highlight mb-3">
            <div class="d-flex justify-content-start">
                <h2>Votre PayAlert</h2>
            </div>
            <div class="ml-auto p-2 "> 
                <%= image_tag "BellAlert.svg" %>
            </div>
        </div>
        </div>
</div>
    <% @paylerts.each do |paylert| %>
        <% if paylert == @paylerts.last%>
            <div class="carde">
                <div class="card-product">
                    <%=  image_tag paylert.product.photo %>
                    <div class="card-product-infos">
                        <h2><%= paylert.product.name %></h2>
                        <p><%= paylert.product.description %></p>
                    </div>
                    <div class="card-product-infos">
                        <h2 class ="cardprice"><%= paylert.bidding_price %> euros</h2>
                    </div>
                    <div class="card-product-infos">
                        <div class ="m-4">
                            <a class="btn btn-outline-primary" href="#">Valider ma Payalert</a>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    <% end %>
</div>


