<h2>Ma Payalert</h2>
<div class="main_container">
    <div class="current_payalert">
        <div class="imgproduct">
             <%# <%= image_tag product.photo %>  %>
        </div>
        <div class="products_details">
            <% @paylerts.each do |paylert| %>
                <% if paylert == @paylerts.last%>
                    Payalert du client N° <%= paylert.user_id %>
                    Produit N° <%= paylert.product_id %>
                    Prix proposé <%= paylert.bidding_price %>
                    Status <%= paylert.status %>
                <% end %>
            <% end %>
      <%# Nom : <% product.name %>
      <ul>
      </ul>
        </div>
            <span class="navbar-text">
                <a class="btn btn-outline-primary" href="#">Valider ma Payalert</a>
            </span>
        </div>
          <span class="navbar-text">
            <a class="btn btn-outline-primary" href="#">Valider ma Payalert</a>
          </span>
    </div>
</div>
