
<div >
<div class ="containers">
    <div class="carddde">
      <div class="containerd">  
        <%= image_tag "SearchDrow.svg" %>
      </div>
      <div class="txtde">
          <h3>Trouvez votre produit</h3>
        <div class = "searche">


          <%= form_tag products_path, class: "form-inline",method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control mr-sm-2",
              placeholder: "Que recherchez-vous ?"
            %>
              <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="C'est parti !">
            <% end %>
              </button>
        </div>
      </div>
    </div>
  </div>

<div class ="container">
  <div class ="carous-h3">
    <h3>Catégories</h3>
  </div>
</div>
 <div class ="carou">
    <div class="d-flex flex-row">
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
             
             <%= link_to products_path(Catégorie: "Maison") do %>
              <%= image_tag "computericons.svg"%>
       <% end %>
              <p>Electroménager</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "laundry.svg"%>
              <p>Electronique</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "park.svg"%>
              <p>Loisir</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "tshirt.svg"%>
              <p>Textiles</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "garden.svg"%>
              <p>Jardin</p>  
            </div>       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class ="container">
    <div class ="carous-h3">
      <h3>Les meilleurs ventes</h3>
    </div>
  </div>

   <div class ="carou">
      <% @products.sample(4).each do |product| %>
      <%# sample(4) %>
      <div class="d-flex flex-row">
        <div class="margincater" >
        <div class="col-md-4">
          <div class = "NotreAvis">    
            <div class = "categoriesdiv" >
              <div class = "NotreAvisimg" >
               <%= link_to( product_path(product)) do %>
                  <%= image_tag asset_path(product.photo) %>
              <% end %>
              </div>
              <%= render 'shared/star' %>
              <p>  <%= product.name %></p>  
            </div>       
          </div>
        </div>
      </div>
      </div>
      <% end %>
  </div>

<%= render 'shared/footer' %>


