
<div class="flexinputs">
  <div class = "search">

    <%= form_tag products_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "search-form-control",
        placeholder: "Que cherchez vous ?"
      %>
        <input class="btn btn-primary" type="submit" value="Rechercher">
    <% end %>
        </button>
      </div>
      </div>
    </form>

<br>
<br>
<br>

<div class="flexinputs">
  <div class = "search">


  <%= simple_form_for :product_filter, url: products_path, html: {class: "d-flex"} , method: :get do |f| %>
    <%= f.input :Commerçant, collection: Shop::SHOPS %>
    <%= f.input :Catégorie, collection: Product::CATEGORIES %>
     <%= f.input :Marque, collection: Product::BRANDS %>
    <%= f.submit "Rechercher", class: "btn btn-primary" %>
  <% end %>
  </div>
  </div>
  </form>

