


<div >
<div class ="containers">
    <div class="carddde">
      <div class="containerd">  
        <%= image_tag "SearchDrow.svg" %>
      </div>
      <div class="txtde">
          <h3>Trouvez votre produit</h3>
        <div class = "searche">
          <%= form_tag products_path, class: "form-inline",method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control mr-sm-2",
              placeholder: "Que recherchez-vous ?"
            %>
              <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="C'est parti !">
            <% end %>
              </button>
        </div>
      </div>
    </div>
  </div>


<div class ="container">
  <div class ="carous-h3">
    <h3>Categories</h3>
  </div>
</div>
 <div class ="carou">
    <div class="d-flex flex-row">
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
             
             <%= link_to products_path(Catégorie: "Maison") do %>
              <%= image_tag "garden.svg"%>
       <% end %>
              <p>Garden</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "garden.svg"%>
              <p>Garden</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "garden.svg"%>
              <p>Garden</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "garden.svg"%>
              <p>Garden</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="margincate" >
        <div class="col-md-4">
          <div class = "categories">    
            <div class = "categoriesdiv" >
              <%= image_tag "garden.svg"%>
              <p>Garden</p>  
            </div>       
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class ="container">
    <div class ="carous-h3">
      <h3>Les favoris des utilisateurs</h3>
    </div>
  </div>
  <div class ="carou">
    <div class="d-flex flex-row">
      <div class="margincater" >
        <div class="col-md-4">
          <div class = "NotreAvis">    
            <div class = "categoriesdiv" >
              <div class = "NotreAvisimg" >
                <%= image_tag "cafee.png"%>
              </div>
              <%= render 'shared/star' %>
              <p>Machine a café</p>  
            </div>       
          </div>
        </div>
      </div>
      <div class="d-flex flex-row">
        <div class="margincater" >
          <div class="col-md-4">
            <div class = "NotreAvis">    
              <div class = "categoriesdiv" >
                <div class = "NotreAvisimg" >
                  <%= image_tag "computer.png"%>
                </div>
                <%= render 'shared/star' %>
                <p>Ordinateur </p>  
              </div>       
            </div>
          </div>
        </div>
        <div class="d-flex flex-row">
          <div class="margincater" >
            <div class="col-md-4">
              <div class = "NotreAvis">    
                <div class = "categoriesdiv" >
                  <div class = "NotreAvisimg" >
                    <%= image_tag "iphone.png"%>
                  </div>
                  <%= render 'shared/star' %>
                  <p>Iphone X</p>  
                </div>       
              </div>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div class="margincater" >
              <div class="col-md-4">
                <div class = "NotreAvis">    
                  <div class = "categoriesdiv" >
                    <div class = "NotreAvisimg" >
                      <%= image_tag "cap.png"%>
                    </div>
                      <%= render 'shared/star' %>
                      <p>Casquette</p>  
                    </div>       
                  </div>
                </div>
              </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
</div>




<%= render 'shared/footer' %>