<div class="englobe_index">
<div class="flexinputs p-3">
  <div class = "search ">
    <%= simple_form_for :product_filter, url: products_path, html: {class: "d-flex"} , method: :get do |f| %>
    <div class= "espacesearch">
      <%= f.input :Commerçant,collection: Shop::SHOPS %>
      </div>
        <div  class= "espacesearch">
      <%= f.input :Catégorie, class: "espacesearch",collection: Product::CATEGORIES %>
        </div>
        <div  class= "espacesearch">
      <%= f.input :Marque, class: "espacesearch",collection: Product::BRANDS %>
        </div>
        <div  class= "espacesearchbtn">
      <%= f.submit "Rechercher", class: "btn btn-outline-primary" %>
        </div>
    <% end %>
  </div>
 </div>


<% if @products.length == 0 %>
  <h2 class="title-center">Aucun produit correspondant à votre recherche !</h2>

<% elsif params[:product_filter].present? %>

   <div class = "containerd">
    <div class ="d-flex flex-column bd-highlight mb-3">
     <% @products.each do |product| %>
       <div>
          <div class="carde">
            <div class="card-index">
              <div class ="pictureindex">
               <%= image_tag asset_path(product.photo) %>
                </div>
                    
            <div class="card-product-center">
              <h2><%= product.name %></h2>
              <p><%= product.description %></p>
            </div>

            <div class="card-product-infos">
              <h2  class ="priceindex"><%= product.price %> euros</h2>
            </div>

            <div class="placement-btn">
              <%= link_to(" produit", product_path(product), class: "btn btn-primary") %>
            </div>
          </div>
        </div>
       </div>
     </div>
    </div>
   <% end %>
  </div>
 </div>
   
<% else %>
 
  <div class = "containerd">
    <div class ="d-flex flex-column bd-highlight mb-3">
      <% @products.each do |product| %>
  


<div class="courses-container">
	<div class="course">
		<div class="course-preview">
		
              <div class ="pictureindex">
               <%= image_tag asset_path(product.photo) %>
                </div>
		
		</div>
		<div class="course-info">
	  <h2><%= product.name %></h2>
                <p><%= product.description %></p>
                  <h2 class ="priceindex"><%= product.price %> euros</h2>
			<button class="btntest">Continue</button>
          <%= link_to("PayAlert ", product_path(product), class: "btntest") %>
             
		</div>
	</div>
</div>
      <%end%>
    </div>
  </div>
<% end %>
</div>




<%= render 'shared/footer' %>


