
<div class="flexinputs p-3">
  <div class = "search ">
    <%= simple_form_for :product_filter, url: products_path, html: {class: "d-flex"} , method: :get do |f| %>
    <div  class= "espacesearch">
      <%= f.input :Commerçant,collection: Shop::SHOPS %>
      </div>
        <div  class= "espacesearch">
      <%= f.input :Catégorie, class: "espacesearch",collection: Product::CATEGORIES %>
        </div>
        <div  class= "espacesearch">
      <%= f.input :Marque, class: "espacesearch",collection: Product::BRANDS %>
        </div>
        <div  class= "espacesearchbtn">
      <%= f.submit "Rechercher", class: "btn btn-outline-primary" %>
        </div>
    <% end %>
  </div>
 </div>


<% if @products.length == 0 %>
  <h2>Aucun produit trouvé !</h2>

<% elsif params[:product_filter].present? %>
  <h2 class="text-center">Résultat de votre recherche</h2>
   <div class = "containerd">
    <div class ="d-flex flex-column bd-highlight mb-3">
    <% @products.each do |product| %>

       <div class="p-2">
            <div class="carde">
            <div class="card-index">
            <%= image_tag asset_path(product.photo) %>

                    
              <div class="card-product-infos">
              <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
              </div>
              <div class="card-product-infos">
              <h2><%= product.price %> euros</h2>
               <%= link_to("Paylert", product_path(product), class: "btn btn-primary") %>
              </div>
            </div>
            </div>
          </div>

    <%end%>
  </div>
</div>
<% else %>

  <div class = "containerd">
    <div class ="d-flex flex-column bd-highlight mb-3">
      <% @products.each do |product| %>

       <div class="p-2">
            <div class="carde">
            <div class="card-index">

               <%= image_tag asset_path(product.photo) %>
                    
              <div class="card-product-infos">
              <h2><%= product.name %></h2>
                    <p><%= product.description %></p>
              </div>
              <div class="card-product-infos">
              <h2><%= product.price %> euros</h2>
               <%= link_to("Paylert", product_path(product), class: "btn btn-primary") %>
              </div>
            </div>
            </div>
          </div>

      <%end%>
      
    </div>
  </div>
<% end %>



<%= render 'shared/footer' %>
