
<div class="flexinputs">
  <div class = "search">
    <%= simple_form_for :product_filter, url: products_path, html: {class: "d-flex"} , method: :get do |f| %>
      <%= f.input :Commerçant, collection: Shop::SHOPS %>
      <%= f.input :Catégorie, collection: Product::CATEGORIES %>
      <%= f.input :Marque, collection: Product::BRANDS %>
      <%= f.submit "Rechercher", class: "btn btn-primary" %>
    <% end %>
  </div>
 </div>


<% if @products.length == 0 %>
  <h2>Aucun produit trouvé !</h2>

<% elsif params[:product_filter].present? %>
  <h2 class="text-center">Résultat de votre recherche</h2>
  <div class ="formulaire-booking">
    <% @products.each do |product| %>
      <div class = "formulaire-separation" >
        <p><strong>Nom :</strong> <%= product.name %></p>
        <p><strong>Description : </strong> <%= product.description %></p>
        <p><strong>Marque :</strong> <%= product.brand %></p>
        <p><strong>Catégorie :</strong> <%= product.category_name %> </p>
        <p><strong>Prix :</strong> <%= product.price %> €</p>
        <p><strong>Commerçant :</strong> <%= product.shop.name %> </p>
        <p> <%= image_tag product.photo %></p>
        <br>
        <%= link_to("Paylert", product_path(product), class:"generique") %>
      </div>
    <%end%>
  </div>

<% else %>
  <h2 class="text-center">Résultat de votre recherche</h2>
  <div class = "containerd">
    <div class ="formulaire-booking">
      <% @products.each do |product| %>
        <div class = "formulaire-separation" >
          <p><strong>Nom :</strong> <%= product.name %></p>
          <p><strong>Description : </strong> <%= product.description %></p>
          <p><strong>Prix :</strong> <%= product.price %> €</p>
          <p></strong> <%= image_tag product.photo %></p>
          <%# <p><strong>Photo :</strong> <%= image_tag asset_path("Tondeuse") %>
          <br>
          <%= link_to("Paylert", product_path(product), class:"generique") %>
        </div>
      <%end%>
    </div>
  </div>
<% end %>



<%= render 'shared/footer' %>
