
<div class ="container">
    <div class ="bellformalert">
        <div class="d-flex bd-highlight mb-3">
            <div class="d-flex justify-content-start">
                <h2>Envie de créer votre PayAlert?</h2>
            </div>
            <div class="ml-auto p-2 "> 
                <%= image_tag "BellAlert.svg" %>
            </div>
        </div>
    </div>
    <div class = whiteform>
        <h1 class="big_product_show"> Fiche produit de l'annonce sélectionnée</h1>
            <div class = "productlert">
                <div class = "showproducts">
                    <div class="row margin-product">
                        <div class="col">
                            <p class="posting_show">Produit</p> <p><%= @product.name %></p>
                            <p class="posting_show">Marque</p> </p><%= @product.brand %></p>
                            <p class="posting_show">Prix</p> <p><%= @product.price %> euros</p>
                            <p class="posting_show">Description</p>
                            <p class ="size-description"> <%= @product.description %></p>
                        </div>
                        <div class="col">
                            <%= simple_form_for [@product,@paylert] do |f| %>
                            <div class="d-flex flex-row">
                                <div class="col">
                                    <%= f.input :bidding_price, input_html:{min: '0'}, class: "form-controlers" %>
                                    <%= f.button :submit, class: "btn btn-primary"%>
                                </div>
                                <% end %>
                            </div>   
                        </div>
                    </div>

            <div class="col">
                <div class ="adresse-form">
                <h4 class="address_show">Adresse de livraison</h4>
                    <div class = "containerd-info">
                        <div class = "adresse-info1">
                            <p> 136 rue du Parc</p>
                            <p> 59200 Tourcoing</p>
                        </div>
                        <div class = "adresse-info2">
                            <p> Pays: France</p>
                            <p> Tel: 03 20 17 84 15</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class ="photo-show">
        <p><%= image_tag @product.photo %></p>
    </div>
    </div>
    <div class ="endflex">
     <%= link_to 'Retour', root_path, class: "btn btn-primary " %>
     </div>

</div>
<h2> Offre du Vendeur</h2>
</div>

<%= render 'shared/carddiv' %>

<%= render 'shared/footer' %>
<%# mettre la quantité dans la seed 
mettre les courdonnée vendeurs dans la seed %>