<div class ="container">
    <div class ="bellformalert">
        <div class="d-flex bd-highlight mb-3">
            <div class="d-flex justify-content-start">
                <h2>Envie de créer votre PayAlert ?</h2>
                
            </div>
            <div class="ml-auto p-2 "> 
                 <%= image_tag "bellhide.svg" %>
            </div>
        </div>
    </div>

    
    <div class = whiteform>
 
        <h1 class="big_product_show">  <h1><%= @product.name %></h1>
         <h2><%= @product.brand %></h2>
            <div class = "productlert">
             <div class ="photo-show">
        <p><%= image_tag @product.photo %></p>
    </div>
                <div class = "showproductsmain">
                 
                    <div class="row margin-product showproducts1">
                        <div class="col ">
                        <br>
                            <h3 class="posting_price"><%= @product.price %> €</h3>
                        </div>
                    
                        <div class="col">
                            <%= simple_form_for [@product,@paylert] do |f| %>
                            <div class="d-flex flex-row">
                                <div class="col">
                                <% if !current_user.credit_card_verified? %>
                                    <%= f.input :bidding_price, label: "Prix souhaité", input_html:{ disabled: :true, min: '0'}, class: "form-controlers" %>
                                    <a class="btn btn-primary" href="profile/add_credit_card?id=<%= @product.id %>">Ajouter une CB</a>
                                <% else %>
                                    <%= f.input :bidding_price, label: "Prix souhaité", input_html:{ min: '0'}, class: "form-controlers" %>
                                     <%= f.button :submit, 'Créer une Payalert', class: "btn btn-primary" %>
                                <% end %>
                                </div>
                            <% end %>
                            </div>   
                        </div>
                    </div>

        
                <div class ="adresse-form showproducts3">
                
                     <p class ="posting_show"> <%= @product.description %></p>
             
                </div>
            
                <div class ="adresse-form showproducts2">
                <h4 >Adresse de livraison</h4>
                  <br>
                            <p >   <%= image_tag "vue.svg",class: "vue" %> 136 rue du Parc</p>
                            <p > <%= image_tag "vue.svg",class: "vue"  %> 59200 Tourcoing</p>
                            <p > <%= image_tag "vue.svg",class: "vue"  %>  France</p>
                            <p >  <%= image_tag "vue.svg",class: "vue"  %> 03 20 17 84 15</p>
       
                </div>
           
    </div>
   
    </div>
    <div class ="endflex">
     <%= link_to 'Retour', root_path, class: "btn btn-primary " %>
     </div>

</div>
<h2> Autres offres de ce vendeur</h2>
</div>

<%= render 'shared/card-test' %>

<%= render 'shared/footer' %>