<%= render 'shared/payalertcontainer2' %>

<div class ="container">
    <div class ="bellformalert">
        <div class="d-flex bd-highlight mb-3">
            <div class="d-flex justify-content-start">
                <h2>Votre PayAlert terminée</h2>
            </div>
            <div class="ml-auto p-2 "> 
                <%= image_tag "BellAlert.svg" %>
            </div>
        </div>
    </div>
</div>

<div class ="container">
    <% @paylerts.each do |paylert| %>
    <% if paylert.status == "Executée !" %>
        <div class="courses-container">
    <div class="course">
    <div class="course-preview">
        <div class ="pictureindex">
            <%= image_tag paylert.product.photo %>
        </div>
            </div>
            <div class="course-info">
            <h2><%= paylert.product.name %></h2>
            <p><%= paylert.product.description %></p>
            <h6 class="status">Statut de votre Payalert</h6><p><%= paylert.status %></p>
            <h2 class ="priceindex"><%= paylert.bidding_price  %> €</h2>
            <%# <%= link_to("PayAlert ", product_path(product), class: "btntest") %>  %>
            <%# lien dessus qui ne marche pas marche pas %>  
            </div>
    </div>
    </div>
</div>
<% end %>
<% end %>



<%= render 'shared/footer' %>



